.btnLogin:hover {
    -fx-background-color: #44d7b6 !important;
    -fx-text-fill: #ffff;
}

.btnSingUp:hover {
    -fx-background-color: #44d7b6 !important;
    -fx-text-fill: #ffff;
}

.Chooser {
    -fx-text-fill: #ffff;
    -fx-font-family: Arial !important;
    -fx-prompt-text-fill: #ffff;
}